* {
  box-sizing: border-box;
}

mat-card {
  margin: 0.4rem;
}

.post-box-wrapper {
  width: 100%;
}

.post-box {
  width: 90%;
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  background-color: #f0f2f5;
}

.auth-user-image {
  background-color: gray;
  border-width: 1px;
  margin: 10px;
  }

  